{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold d-flex align-items-center gap-2">
            <img src="{% static 'img/tag.png' %}" class="icone-tag" width="28">
            <span class="text-entrada">Excluir Categoria</span>
        </h4>
        <a href="{% url 'categorias' %}" class="btn btn-secondary rounded-pill px-4">
            Voltar
        </a>
    </div>

    <div class="card p-4">
        <p class="nome-categoria">Tem certeza que deseja excluir a categoria <strong>{{ categoria.nome }}</strong>?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'categorias' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

</div>
{% endblock %}