{% extends 'base.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<!-- HEADER + BOTÕES -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold">Dashboard</h3>
    <!-- <div class="botoes">
        <button class="btn bg-primary botoes-dashboard px-4" data-bs-toggle="modal" data-bs-target="#modalCategoria">
            + Nova Categoria
        </button>
        <button class="btn bg-primary botoes-dashboard" data-bs-toggle="modal" data-bs-target="#modalTransacao">
            + Nova Transação
        </button>
    </div>-->
</div>

<!-- CARDS SUPERIORES -->
<div class="row g-4 mb-5">

    <!-- SALDO ATUAL -->
    <div class="col-md-4">
        <div class="card-custom bg-primary text-white p-4 h-75">
            <div class="d-flex align-items-center mb-2">
                <img src="{% static 'img/wallet.png' %}" width="26" class="me-2">
                <span class="fw-semibold">Saldo Atual</span>
            </div>
            <h3 class="fw-bold mb-0">R$ {{ saldo_atual|floatformat:2 }}</h3>
        </div>
    </div>

    <!-- RECEITAS -->
    <div class="col-md-4">
        <div class="card-custom bg-white p-4 h-75">
            <a href="{% url 'receitas' %}">
                <div>
                    <img src="{% static 'img/trending-up.png' %}" width="26" class="me-2" alt="">
                    <span class="fw-semibold texto-receita">Receitas</span>
                </div>
                <h3 class="fw-bold mb-0">R$ {{ total_receitas|floatformat:2 }}</h3>
                <p>Este mês</p>
            </a>
        </div>
    </div>

    <!-- DESPESAS -->
    <div class="col-md-4">
        <div class="card-custom bg-white p-4 h-75">
            <a href="{% url 'despesas' %}">
                <div>
                    <img src="{% static 'img/trending-down.png' %}" width="26" class="me-2" alt="">
                    <span class="fw-semibold texto-receita">Despesas</span>
                </div>
                <h3 class="fw-bold text-danger mb-0">R$ {{ total_despesas|floatformat:2 }}</h3>
                <p>Este mês</p>
            </a>
        </div>
    </div>

</div>
<!-- 
 GRÁFICOS --
<div class="row g-3 mb-4">

-- EVOLUÇÃO MENSAL --
<div class="col-md-6">
    <div class="p-4 ps-5 rounded-4 evolucao">
        <h6 class="fw-semibold mb-3" style="font-size:24px;">Evolução Mensal</h6>
        <canvas id="evolucaoMensal" height="120"
            data-meses='{{ meses|safe }}'
            data-receitas='{{ receitas_por_mes|safe }}'
            data-despesas='{{ despesas_por_mes|safe }}'>
        </canvas>
    </div>
</div> -->

<!-- DESPESAS POR CATEGORIA --
<div class="col-md-6">
    <div class="p-4 ps-5 rounded-4 despesas_categoria">
        <h6 class="fw-semibold mb-3" style="font-size:24px;">Despesas por Categoria</h6>
        <div class="row">
            <div class="col-5 d-flex justify-content-center">
                <canvas id="graficoCategorias" width="180" height="180"
                    data-categorias='{{ categorias|safe }}'
                    data-valores='{{ valores_categorias|safe }}'>
                </canvas>
            </div>
            <div class="col-7 small">
                <ul class="lista_categoria list-unstyled">
                    {% for cat, valor in despesas_por_categoria.items %}
                        <li class="d-flex justify-content-between mb-3">
                            <span class="d-flex align-items-center">
                                <span class="dot me-2 {{ valor.cor_class }}"></span>
                                {{ cat }}
                            </span>
                            <strong>
                                R$ {{ valor.valor|floatformat:2 }}
                                <small class="text-muted">({{ valor.percent }}%)</small>
                            </strong>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- TRANSAÇÕES RECENTES -->
<div class="p-4 rounded-4 bg-white">
    <h6 class="fw-semibold mb-3" style="font-size:24px;">Transações Recentes</h6>

    <div class="list-group">
        {% for t in transacoes_recentes %}
        <div class="d-flex align-items-center justify-content-between gap-3 mb-2">
            <div>
                <strong>{{ t.descricao }}</strong><br>
                <small class="text-muted">{{ t.categoria.nome }} • {{ t.data|date:"d M" }}</small>
            </div>
            <h5 class="fw-bold {% if t.tipo == 'despesa' %}text-danger{% else %}text-success{% endif %} mb-0">
                R$ {{ t.valor|floatformat:2 }}
            </h5>
        </div>
        {% empty %}
        <p>Nenhuma transação recente.</p>
        {% endfor %}
    </div>
</div>


<!-- MODAL: Nova Transação -->
<div class="modal fade" id="modalTransacao" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content nova-transação p-3 rounded-4">

            <div class="modal-header border-0">
                <h5 class="modal-title fw-bold">Nova Transação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="d-flex justify-content-between mb-3">
                    <button class="btn btn-tipo w-50 me-2" id="btnReceita">Receita</button>
                    <button class="btn btn-tipo w-50" id="btnDespesa">Despesa</button>
                </div>

                <div class="mb-3">
                    <label class="fw-semibold">Descrição</label>
                    <input type="text" class="form-control" placeholder="Ex: Academia">
                </div>

                <div class="mb-3">
                    <label class="fw-semibold">Valor</label>
                    <input type="text" class="form-control" placeholder="0,00">
                </div>

                <div class="mb-3">
                    <label class="fw-semibold">Categoria</label>
                    <select class="form-select">
                        <option selected>Escolha uma categoria</option>
                        {% for cat in despesas_por_categoria.keys %}
                        <option>{{ cat }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="mb-3">
                    <label class="fw-semibold">Data</label>
                    <input type="date" class="form-control">
                </div>
            </div>

            <div class="modal-footer border-0">
                <button id="btnSubmit" class="btn btn-submit-receita btn-danger w-100 py-2 fw-semibold">
                    Adicionar nova despesa
                </button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL: Nova Categoria -->
<div class="modal fade" id="modalCategoria" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bold">Nova Categoria</h5>
            </div>
            <div class="modal-body">
                <label class="fw-semibold mb-1">Nome</label>
                <input type="text" class="form-control mb-3" placeholder="Ex: Alimentação">

                <label class="fw-semibold mb-1">Logo</label>
                <select class="form-select mb-4">
                    <option selected>Escolha uma logo</option>
                    <option>Casa</option>
                    <option>Comida</option>
                    <option>Carro</option>
                </select>

                <button class="btn btn-primary w-100 py-2 fw-semibold rounded-3">
                    Adicionar categoria
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}