{% extends 'base.html' %}
{% block title %} Despesas {% endblock %}
{% load static %}
{% block content %}

<!-- TÍTULO -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold">
        <img class="despesas" src="{% static 'img/trending-down.png' %}" width="28">
        Despesas
    </h3>
    <div class="d-flex gap-2">
        <a href="{% url 'despesa_create' %}" class="btn bg-danger text-white">+ Nova Despesa</a>
        <a href="{% url 'categoria_create' %}?next={{ request.path }}" class="btn btn-primary">+ Nova Categoria</a>
    </div>
</div>

<!-- CARD TOTAL -->
<div class="receitas col-md-4">
    <div class="card-custom bg-white p-4 h-75">
        <div>
            <img src="{% static 'img/trending-down.png' %}" width="26" class="me-2" alt="">
            <span class="fw-semibold texto-receita">Despesas</span>
        </div>
        <h3 class="fw-bold text-danger mb-0">
            R$ {{ total|floatformat:2 }}
        </h3>
        <p class="">Este mês</p>
    </div>
</div>

<!-- LISTA DE DESPESAS -->
<div class="card p-4 mb-4 rounded-4">
    <h5 class="fw-semibold text-entrada mb-3">Saídas</h5>
    {% for despesa in transacoes %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/shopping-bag.png' %}" width="32" class="me-3">
            <div>
                <strong>{{ despesa.descricao }}</strong><br>
                <small class="text-muted">{{ despesa.categoria.nome }} • {{ despesa.data|date:"d M" }}</small>
            </div>
        </div>
        <div class="d-flex align-items-center gap-3">
            <span class="valor-despesa fw-bold">- R$ {{ despesa.valor|floatformat:2 }}</span>
            <a href="{% url 'despesa_update' despesa.id %}" class="btn btn-sm">
                <img class="icone-square" src="{% static 'img/square-pen.png' %}" alt="">
            </a>
            <a href="{% url 'despesa_delete' despesa.id %}" class="btn btn-sm">
                <img class="trash-2" src="{% static 'img/trash-2.png' %}" alt="">
            </a>
        </div>
    </div>
    {% empty %}
    <p>Nenhuma despesa cadastrada.</p>
    {% endfor %}
</div>

<!-- GRÁFICOS
<div class="row g-4">
    <div class="col-md-6">
        <div class="card p-4 rounded-4">
            <canvas id="graficoDespesasLinha"></canvas>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="p-4 ps-5 rounded-4 despesas_categoria">
            <h6 class="fw-semibold mb-3" style="font-size:24px;">Despesas por Categoria</h6>
            <div class="row">
                <div class="col-5 d-flex justify-content-center">
                    <canvas id="graficoDespesasCategoria" width="180" height="180"></canvas>
                </div>
                <div class="col-7 small">
                    <ul class="lista_categoria list-unstyled">
                        {% for categoria, dados in despesas_por_categoria.items %}
                        <li class="d-flex justify-content-between mb-5">
                            <span class="d-flex align-items-center">
                                <span class="dot me-2 {{ dados.cor_class }}"></span>{{ categoria }}
                            </span>
                            <strong>R$ {{ dados.valor|floatformat:2 }} <small class="text-muted">({{ dados.percent }}%)</small></strong>
                        </li>
                        {% empty %}
                        <p>Nenhuma categoria registrada.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<script src="{% static 'js/despesas.js' %}"></script>

{% endblock %}
