{% extends 'base.html' %}

{% block title %} Receitas {% endblock %}
{% load static %}
{% block content %}
<div class="container mt-4">

<!-- TÍTULO -->
<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold ">
        <img src="{% static 'img/trending-up.png' %}" width="28">
        Receitas
    </h3>

    <div class="d-flex gap-2">
        <a href="{% url 'receita_create' %}?next={{ request.path }}" class="btn btn-success">+ Nova Receita</a>
        <a href="{% url 'categoria_create' %}?next={{ request.path }}" class="btn btn-primary">+ Nova Categoria</a>
    </div>
</div>

<!-- CARD TOTAL -->
<div class="receitas col-md-4">
    <div class="card-custom bg-white p-4 h-75">

        <div>
            <img src="{% static 'img/trending-up.png' %}" width="26" class="me-2" alt="">
            <span class="fw-semibold texto-receita">Receitas</span>
        </div>

        <h3 class="fw-bold mb-0">
            R$ {{ total|floatformat:2 }}
        </h3>
        <p class="">Este mês</p>

    </div>
</div>

<!-- ENTRADAS -->
<div class="card p-4 mb-4 rounded-4">
    <h5 class="fw-semibold text-entrada mb-3">Entradas</h5>

    {% for receita in transacoes %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <img src="{% static 'img/laptop.png' %}" width="32" class="me-3">
            <div>
                <strong>{{ receita.descricao }}</strong><br>
                <small class="text-muted">{{ receita.categoria.nome }} • {{ receita.data|date:"d M" }}</small>
            </div>
        </div>

        <div class="d-flex align-items-center gap-3">
            <span class="valor-receita fw-bold">+ R$ {{ receita.valor }}</span>

            <a href="{% url 'receita_update' receita.id %}" class="btn btn-sm">
                <img class="icone-square" src="{% static 'img/square-pen.png' %}" alt="">
            </a>
            <a href="{% url 'receita_delete' receita.id %}" class="btn btn-sm">
                <img class="trash-2" src="{% static 'img/trash-2.png' %}" alt="">
            </a>
        </div>
    </div>
    {% empty %}
    <p>Nenhuma receita cadastrada.</p>
    {% endfor %}
</div>

<!-- GRÁFICOS
 <div class="row g-4">

    <div class="col-md-6">
        <div class="card p-4 rounded-4">
            <canvas id="graficoReceitasLinha" data-meses='{{ meses|safe }}' 
        data-valores='{{ valores|safe }}'></canvas>
        </div>
    </div> -->
<!--     -- RECEITAS POR CATEGORIA --
    <div class="col-md-6">
        <div class="cardp-4 ps-5 rounded-4 receitas_categoria">
            <h6 class="fw-semibold mb-3" style="font-size:24px;">Receitas por Categoria</h6>
            <div class="row">
                <div class="col-5 d-flex justify-content-center">
                    <canvas id="graficoReceitasCategoria" style="height: 250px;"  data-categorias='{{ categorias|safe }}' 
        data-valores_categorias='{{ valores_categorias|safe }}' ></canvas>
                </div>
                <div class="col-7 small">
                    <ul class="lista_categoria list-unstyled">
                        {% for cat, valor in receitas_por_categoria.items %}
                        <li class="d-flex justify-content-between mb-3">
                            <span class="d-flex align-items-center">
                                <span class="dot me-2 {{ valor.cor_class }}"></span>{{ cat }}
                            </span>
                            <strong>
                                R$ {{ valor.valor|floatformat:2 }}
                                <small class="text-muted">({{ valor.percent }}%)</small>
                            </strong>
                        </li>
                        {% empty %}
                        <p>Nenhuma receita registrada.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->



<!-- GRAFICOS e RECEITAS POR CATEGORIA continuam iguais -->

<script src="{% static 'js/receitas.js' %}"></script>
{% endblock %}