{% extends "base.html" %}
{% block content %}
<h1>Transações</h1>

<a href="{% url 'transacao_create' %}" class=" btn btn-primary">Nova Transação</a>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for transacao in transacoes %}
        <tr>
            <td>{{ transacao.data }}</td>
            <td>{{ transacao.descricao }}</td>
            <td>{{ transacao.categoria.nome }}</td>
            <td>{{ transacao.tipo }}</td>
            <td>{{ transacao.valor }}</td>
            <td>
                <a href="{% url 'transacao_update' transacao.id %}">Editar</a> |
                <a href="{% url 'transacao_delete' transacao.id %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Nenhuma transação encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}