body {
    background: #F5F5F5;
}


footer {
    text-align: center;
}

/*DROPDOWN CLARO*/
.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
}


body.dark-mode {
    background: #141414 !important;
}

/*DROPDOWN ESCURO*/
body.dark-mode .dropdown-menu {
    background-color: #1e1e1e;
    color: #f0f0f0;
}

body.dark-mode .dropdown-item {
    color: #fff !important;
}

body.dark-mode .dropdown-item:hover {
    background-color: #3a3a3a !important;
}

body.dark-mode .dropdown-divider {
    border-color: #555 !important;
}

body.dark-mode .dropdown-menu .text-muted {
    color: #ccc !important;
}

/*NAVBAR E FOOTER */
body.dark-mode .navbar {
    background-color: #141414 !important;
    border-bottom: 1px solid #555;


}

/*LINKS MENU*/
.dark-mode .nav-link {
    color: #fff !important;
}

/*CARDS*/
.dark-mode .bg-white,
.dark-mode .card-custom,
.dark-mode .evolucao,
.dark-mode .despesas_categoria,
.dark-mode .list {
    background-color: #2b2b2b !important;
    color: #fff !important;
    border-color: #444 !important;
}

/* Texto geral */
.dark-mode .text-muted {
    color: #ccc !important;
}

.dark-mode h3 {
    color: white;
}

.dark-mode h6 {
    color: white;
}

.dark-mode strong {
    color: #fff !important;
}

/* Listas */
.dark-mode .list-group .list {
    background-color: #2b2b2b !important;
    border-bottom: 1px solid #444;
}

.dark-mode .nova-transação {
    background-color: #141414;
    color: white;
}

.dark-mode .modal-content {
    background-color: #141414;
    color: white;
}

.container-fluid {
    margin-right: 1rem;
    margin-left: 1rem;
}

.logo {
    margin-right: 2rem;
}

.navbar {
    background-color: #F5F5F5;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}

.collapse {
    justify-content: end !important;

}

.nav-link {
    color: #333 !important;
}

.nav-link:hover {
    color: #000 !important;
}

.rounded-circle {
    background-color: #0384C5;
}

/*Main*/
/*HEADER + BOTÕES*/
.dark-mode .icone-square {
    content: url("/static/img/square-pen-white.png");
}

.dark-mode .trash-2 {
    content: url("/static/img/trash-2-white.png");
}




/* CARDS SUPERIORES  */

.card-custom {
    border-radius: 18px;

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
    padding-bottom: 0.10rem;
}

.bg-primary {
    background-color: #0288d1 !important;


}

.dark-mode .bg-primary {
    background-color: #0288d1 !important;

}

.dark-mode .texto-receita {
    color: white;
}

.card-custom a {
    text-decoration: none;
    color: inherit;
}


/*Saldo atual*/
.carteira {
    display: flex;
}

.saldo_atual {
    background: #0384C5;
    border-radius: 20px;

}

/*RECEITAS*/
.receitas {

    border-radius: 20px;
}

.receitas h3 {
    color: #10B780;
}

/* DESPESAS*/
.card-despesas {
    text-decoration: none;
}

/* GRÁFICOS */


/* EVOLUÇÃO MENSAL */
.evolucao {
    background: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
    min-height: 400px;
}

.despesas_categoria {
    background: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
    min-height: 400px;
}

/* DEPESAS POR CATEGORIA */

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}


/* TRANSAÇÕES RECENTES */



.transacao-icone {
    flex-shrink: 0 !important;
    width: auto !important;
    height: auto !important;

}

.list-group-item {
    border-bottom: 1px solid #e5e7eb !important;
    /* cinza clarinho */
}











/* Botões de seleção */

.btn-tipo {
    background-color: #333232 !important;
    color: white !important;
}

.btn-receita-active {
    background-color: #10B780 !important;
    color: white !important;
}

.btn-despesa-active {
    background-color: #e63946 !important;
    color: white !important;
}




/* Fundo escuro + blur */
.modal-backdrop.show {
    opacity: 0.25 !important;
    backdrop-filter: blur(6px);
}







/* TELA LOGIN */

.tela_login {
    width: 100vw;
    height: 100vh;
    display: flex;
}


.bem-vindo {
    width: 50%;
    height: 100%;
    background-color: #10B780;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 90px 90px 0px;
}


.bem-vindo h2 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 40px;
    opacity: 0.9;
}

.bem-vindo .serif {
    color: #eafff6;
    font-size: 28px;
    font-size: 40px;
    margin-bottom: 16px;
}


.registrar {
    margin-top: 24px;
    margin-bottom: 1rem;
}

.registrar a {
    padding: 10px 22px;
    border-radius: 999px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
}

.registrar a:hover {
    background: #ffffff;
    color: #10B780;

}

.serif {

    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

.subtitle {
    margin-top: 6px;
    font-size: 14px;
    opacity: 0.85;
}

.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
}


.login-container h2 {
    margin-bottom: 20px;

}

.login form>div {
    margin-bottom: 12px;
}


.login {
    width: 50%;
    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form {
    width: 320px;
}

.login h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
}



.login h2 {

    font-size: 34px;
}

.senha {
    margin-top: 0.5rem;
}

.label-style {
    font-size: 14px;
    color: #555;
}

.input-style {
    width: 100% !important;
    height: 42px !important;
    border-radius: 10px;
    padding: 10px 14px;
    border: 1px solid #ddd;
    transition: border 0.2s ease;
}

.input-style:focus {
    outline: none;
    border-color: #10B780;
}

.entrar {
    width: 100%;
    height: 42px;
    border-radius: 999px;
    font-weight: 600;
    margin-top: 16px;
    background: #10B780 !important;
    box-shadow: 0 8px 20px rgba(16, 183, 128, 0.25);
}

.entrar:hover {
    filter: brightness(0.95);
}

.continue-google {
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.divider-text {
    font-size: 13px;
    color: #666;
    text-align: center;
}


.botao-google-link {
    width: 100%;
    height: 42px;
    border-radius: 999px;
    border: 1px solid #ddd;
    margin-top: 12px;
}

.texto-google {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}



/*TELA RECEITAS */

.card {
    margin-top: 1rem;
}


.dark-mode .text-entrada {
    color: white;
}



.dark-mode .card {
    background-color: #2b2b2b;
}





/* TELA DESPESAS */






/*SIGNUP*/

.signup {
    background-color: #ddeef357 !important;
    height: 100vh !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

.criar-conta {
    background-color: #10B780 !important;
}


/* ===== FORM ALLAUTH ===== */


form input {
    width: 100% !important;
    padding: 12px !important;
    border-radius: 10px !important;
    border: 1px solid #ddd !important;
}

.helptext ul {
    font-size: 13px !important;
    color: #6c757d !important;
    padding-left: 18px !important;
}

.errorlist {
    background: #ffe5e5;
    color: #b02a37;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 12px;
}


.senha-label {
    text-align: center;
    display: block;
    font-weight: 700;
    color: #333;
    font-size: 14px;
}

.form-control {
    border: 0px;
    background-color: #E8F0FE;
}


/* CATEGORIA  */

.card-categorias {
    border-radius: 14px;
    background: #fafdff;
    border: 1px solid #e6f1ff;
}

/* Linha da categoria */
.categoria-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 10px;
    border-bottom: 1px solid #e5e5e5;
}

.categoria-item:last-child {
    border-bottom: none;
}



.dark-mode .icone-tag {
    content: url("/static/img/tag-white.png");


}



/* Ações */
.acoes {
    display: flex;
    gap: 10px;
}

.btn-icon {
    border: none;
    background: #f0f0f0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 14px;
    cursor: pointer;
}

.btn-icon:hover {
    background: #e0e0e0;
}




.dark-mode .card-categorias {
    border: 0px;
}


.valor-receita {
    color: #16a34a;
    font-weight: 700;
}

.valor-despesa {
    color: #dc2626;
    font-weight: 700;
}

body.dark-mode .valor-receita {
    color: #4ade80;
}

body.dark-mode .valor-despesa {
    color: #f87171;
}



body.dark-mode .nome-categoria {
    color: white;
}